


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  
  
  .design{
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    flex-direction: column;
  
  
  }