

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 30%;
    border: 1px solid burlywood;
    outline: none;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    &:focus-within{
        box-shadow: 0px 0px 7px rgba(68, 64, 64,.7);
    }
}
button{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
table{
    margin:20px 10%;
    width: 80%;
    th{
        padding: 10px ;
    }
}